<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>
		<meta charset="UTF-8">
		<title>RecipeLibrary</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	<body>
		<header th:replace="outlines/header::header"></header>
		<main layout:fragment="content"></main>
		<footer th:replace="outlines/footer::footer"></footer>
		<iframe class="dn" id="ifrmProcess" name="ifrmProcess"></iframe>
	</body>
</html>