<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">

	<main layout:fragment="content">
		<div>
			<form method="post" id="loginFrm" th:action="@{/recipeLib/login}"
						th:object="${loginRequest}" autocomplete="off">
				<div>
					<label for="userId" th:text="#{user.userId}">아이디</label>
					<input type="text" id="userId" name="userId" th:field="*{userId}">
				</div>
				<div>
					<label for="pwd" th:text="#{user.pwd}">비밀번호</label>
					<input type="password" id="pwd" name="pwd" th:field="*{pwd}">
					<div class="errMsg" th:if="${errMsg}" th:text="#{${errMsg}}"></div>
				</div>
				<div>
					<a class="btn" type="submit" th:text="#{login.login}" 
						th:onclick="document.getElementById('loginFrm').submit();">로그인</a>
				</div>
			</form>
			<div>
				<a th:text="#{login.userId}" th:href="@{/recipeLib/login/searchInfo/idSearch}">아이디 찾기</a>
				<a th:text="#{login.pwd}" th:href="@{/recipeLib/login/searchInfo/pwdSearch}">비밀번호 찾기</a>
			</div>
			<div>
				<a class="btn" th:href="@{/recipeLib/join}" th:text="#{login.join}">회원가입하러 가기</a>
			</div>
		</div>
	</main>
</html>