<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}">
		
		<main layout:fragment="content">
			<form id="idFrm" method="POST" th:action="@{/recipeLib/login/searchInfo}"
						th:object="${searchInfoRequest}" autocomplete="off">
				<th:block th:replace="login/_form::searchInfoFrm"></th:block>
				<div>
					<a class="btn" 	type="submit" th:text="#{login.search}"
						th:onclick="document.getElementById('idFrm').submit();">조회</a>
				</div>
			</form>
		</main>
</html> -->