<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}">
		
		<main layout:fragment="content">
			<form id="idFrm" method="POST" th:action="@{/recipeLib/login/searchInfo}"
						th:object="${searchInfoRequest}" autocomplete="off">
				<!-- <th:block th:replace="login/_form::searchInfoFrm"></th:block> -->
				<div>
				<div>
					<label for="email"  th:text="#{user.email}">이메일</label>
					<input type="text" id="email" name="email" th:field="*{email}">
					<div class="errMsg" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
				</div>					
				<th:block th:if="${idSearch}">
					<label for="userNm"  th:text="#{user.userNm}">이름</label>
					<input type="text" id="userNm" name="userNm" th:field="*{userNm}">
					<div class="errMsg" th:each="err : ${#fields.errors('userNm')}" th:text="${err}"></div>
					<div>
						<a class="btn" 	type="submit" th:text="#{login.userId}"
							th:onclick="document.getElementById('idFrm').submit();">아이디 찾기</a>
					</div>
				</th:block>
				<th:block th:if="${pwdSearch}">
					<label for="userId"  th:text="#{user.userId}">아이디</label>
					<input type="text" id="userId" name="userId" th:field="*{userId}">
					<div class="errMsg" th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
					<div>
						<a class="btn" 	type="submit" th:text="#{login.search}"
							th:onclick="document.getElementById('idFrm').submit();">조회</a>
					</div>
				</div>
				</th:block>
			</div>
			</form>
		</main>
</html>